@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
} 

.social {
    display: flex;
    gap: 0.5rem;
    flex: 1;
}

.logo {
    flex: 1;
    text-align: center;
    font-size: 2rem;
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    color: #454141;
}

[data-theme="dark"] .logo {
    color: #DBD8D8;
}


.links {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

.navhome {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.navcontact {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.navabout {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.navhome:hover {
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.navhome::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #212425;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}
.navhome:hover::after {
    transform: scaleX(1);
}
[data-theme="dark"] .navhome::after {
    background-color: rgb(143, 176, 176);
}

.navcontact:hover {
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.navcontact::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #212425;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}
.navcontact:hover::after {
    transform: scaleX(1);
}
[data-theme="dark"] .navcontact::after {
    background-color: rgb(143, 176, 176);
}

.navabout:hover {
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.navabout::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #212425;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}
.navabout:hover::after {
    transform: scaleX(1);
}
[data-theme="dark"] .navabout::after {
    background-color: rgb(143, 176, 176);
}

/* end */

@media screen and (max-width: 1280px) {
    .logo {
        font-size: 2rem;
    }
    .links {
        font-size: 1rem;
        gap: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    .social {
        display: none;
    }
    .logo {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 2rem;
    }
}

@media screen and (max-width: 640px) {
    .navhome {
        display: none;
    }
    .navcontact {
        display: none;
    }
    .navabout {
        display: none;
    }
    .link {
        display: none;
    }
    .links {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        font-size: 1.7rem;
    }
}

